.header-container {
  position: relative;
  
  .search {
    position: absolute;
    top: 15px;
    left: 21px;
    display: flex;
    background-color: rgba(#e57c1e,.3);
    border: 1px solid white;
    border-radius: 15px;
    z-index: 4;
  
    .menu-btn {
      background-color: #fff;
      border-radius: 10px;
    }
  
    .search-form {
      background-color: #fff;
      display: flex;
      align-items: center;
      margin-left: 10px;
      border-radius: 10px;
  
      ion-icon {
        font-size: 20px;
      }
  }
  }

}



#map {
  height: 100%;
  width: 100vw;
  position: absolute;
  z-index: 0;
}